html {
  background-color: #bddbb662;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  /* Adicionado para centralizar verticalmente */
}

.scrolldown {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 20vh;
  /* Adicionado para posicionar no fundo da página */
  animation: bounce 1s infinite;
  margin-bottom: 10%;
}

.header_produtos {
  background: radial-gradient(#fff #ffd6d6);
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #555;
}

p {
  color: #555;
}

.usericon {
  float: right;
  height: 30px;
}

.prods {
  float: right;
  border: 5px;
  margin: 5px;
  padding: 60px;
  font-weight: 500;
  color: aliceblue;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.caixaHomePage {
  padding-top: 100px;
  margin-top: 300px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Titulos {
  margin-bottom: 80px;
  align-items: center;
  width: fit-content;
  border-top: 5px solid #514540;
  border-bottom: 5px solid #bfa37e;
}

.App {
  margin: 50px 0px 400px 0px;
}
.App {
  position: relative;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.div2 {
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.header img {
  margin-right: 20px;
}

.results {
  text-align: center;
}

.results h2 {
  margin-bottom: 10px;
}

.results ul {
  list-style-type: none;
  padding: 0;
}

.results li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.results li img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.results li h3 {
  margin: 0;
}

.results li p {
  margin: 0;
}


.modal{

  background-color: #514540;
}
.modal-products img {
  width: 150px;
  height: 150px;
  background-color: #514540;

 
}

.lista-products {
  gap: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: #514540;

}

.h{

  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
