.titulo_closet {
    text-align: center;
    margin-top: 1%;

}

.header_closet {
    display: flex;
    flex-direction: column;

}

.titulobody_closet {
    color: #3b2f24;
    font-size: 35px;
    text-align: center;
    margin-top: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.barra_closet{
    border: 3px solid black;
    margin-top: 1%;
}
.returnicon {
    position: absolute;
    left: 60px;
    top: 46px;
}

.closeticon {

    align-items: center;
    margin-top: 2%;

}

.icons img {
    margin: 1% 6px;

}

.outfit1 {
    float: right;
    width: 250px;
    height: 250px;
    background-color: white;
    margin-left: 10px;
    border-radius: 5%;
}

.outfit2 {
    float: right;
    width: 250px;
    height: 250px;
    background-color: white;
    margin-left: 10px;
    border-radius: 5%;


}

.outfit1 span {
    background-color: transparent;
;
}

.outfit3 {
    float: right;
    width: 250px;
    height: 250px;
    background-color: white;
    margin-left: 10px;
    display: flex;
    border-radius: 5%;
}

.caixas {
    display: flex;
    align-items:flex-end;
    gap: 1rem;
    flex-direction: column;
    padding-right: 3rem;
    margin-bottom: 2%;

}

.outfit1 p {
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}



.icons{
    align-items: right;
    margin-left: 87%;
}

.caixas{
    text-align: center;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    line-height: 40px;
}

.pecasfavoritas{

    gap: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    overflow: hidden;

}

.img8{
  border-radius: 25px;
width: 200px;
  height: 200px;
}

.todos{

    display: flex;
    justify-content: space-between;
 
}