.header_produtos {
    background: radial-gradient(#fff, #ffd6d6);
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #5E4F2B;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    
    
}

p {
    color: #555;
}

.usericon {
    float: right;
    height: 30px

  }