.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #a66948;

}

.container_rodape {
  background-color:#a66948;
  margin-top: 27%;
  font-size: 17px;
}

.footer_rodape {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.footer_rodape p {
  color: #f8f2f2;
  background-color: #a66948;
  text-align: center;
}

.footer_rodape h3 {
  color: #fff;
  margin-bottom: 10px;
  background-color: #a66948;
}

.footer-col-2,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 10px;
  background-color: #a66948;
  text-align: center;
}

.img {
  background-color: #a66948;
  margin: 6px;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
  background-color: #a66948;
  align-items: center;
  
}

.footer-col-2 img {

  margin-bottom: 10px;
  background-color: #a66948;
  text-align: center;
}

.footer-col-4 {
  text-align: center;
  background-color: #a66948
}


.footer hr {
  border: none;
  background: #b5b5b5;
  height: 2px;
  margin: 10px 0;
}

.copyright {
  text-align: center;
}

